
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        div{
        position : absolute;
        right:10px;
        top : 5px;
        }
        p{
        color : red;
        }




    </style>
</head>


<body>



<p>You have logged in</p>

<div>
    <button type="button" onclick="location.href = '{% url 'log'   %}'" >Logout</button>
</div>
Welcome {{e}}


  <button type="button" onclick="location.href = '{% url 'viewclient'   %}'">View Clients</button>




        <ul>
            <li >Employee List</li>
        {% for user in list %}
            <li style="color:black;" >{{ user }}</li>
        {% endfor %}
        </ul>



</body>
</html>